/* Global */
:root {
  /* App Colors */
  --color-primary: var(--color-white);
  --color-primary-variant: var(--color-white-variant);
  --color-accent: var(--color-blue);
  --color-accent-variant: var(--color-yellow);
  --color-text: var(--color-black);
  --color-footer-bg: var(--color-gray);

  /* Colors */
  --color-white: #ffffff;
  --color-white-variant: #c3c6c8;
  --color-black: #000000;
  --color-blue: #00b9f6;
  --color-yellow: #dcdf00;
  --color-gray: #252a2c;

  /* Size */
  --size-max-width: 1200px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

button {
  background-color: transparent;
  outline: 0;
  border: 0;
}

/* Common */
.max-container {
  max-width: var(--size-max-width);
  margin: auto;
}

.section {
  padding: 80px 0;
  text-align: center;
}

.title {
  font-size: 36px;
  margin-bottom: 40px;
}

.des {
  font-size: 16px;
  padding: 0 20px;
}

.btn {
  display: inline-block;
  background-color: var(--color-primary);
  padding: 18px 36px;
  font-size: 14px;
  color: var(--color-black);
  transition: all 300ms ease-in-out;
}

.btn:hover {
  background-color: transparent;
  color: var(--color-primary);
  outline: 1px solid var(--color-primary);
}

/* Header */
.header {
  background-color: transparent;
  position: absolute;
  width: 100%;
  height: 90px;
  line-height: 90px;
  color: var(--color-primary);
}

.header a,
.header i {
  color: var(--color-primary);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  display: flex;
}

.header__menu__item a {
  padding: 9px 20px;
  font-size: 15px;
}

.header__side {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header__search__container {
  width: 50%;
}

.header__search {
  display: flex;
  align-items: center;
  padding: 0.2rem;
  overflow: hidden;
  width: 100%;
  padding: 0 rem;
  background: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 50px;
}

.header__search__input {
  width: 950%;
  color: var(--color-primary);
  background: transparent;
  font-size: 1.2rem;
  border: 0;
  outline: 0;
}

input::placeholder {
  color: var(--color-primary);
  padding-left: 0.5rem;
  font-size: 1rem;
}

.header__search__button {
  border: 0 none;
  cursor: pointer;
  border-radius: 5px;
}

.header__icon {
  font-size: 0.9rem;
}

.header__search__icon:hover {
  transform: scale(1.1);
  color: 000;
}

/* Home */
#home {
  background: url(/images/home/home.jpg);
  background-size: cover;
  background-position: center center;
  height: 500px;
  padding-top: 90px;
  color: var(--color-primary);
}

.home__title {
  margin: 2rem 0;
  font-size: 3.5rem;
  font-weight: 550;
  line-height: 4rem;
}

.home__title--strong {
  color: var(--color-accent);
}

.home__des {
  margin-bottom: 2rem;
  font-size: 18px;
  font-weight: 250;
}

.home__btn {
  margin: 0 1px 12px 12px;
}

/* Can */
.cans {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 80px 0;
}

.can__img {
  cursor: pointer;
}

.can__title {
  margin: 10px 0;
  font-size: 20px;
  cursor: pointer;
}

.can__des {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 330;
}

.can__more {
  font-size: 14px;
  font-weight: bold;
}
/* ⭐ 배운것 빈공간이 있으면 하위태그가 선택되어 span이 선택된다 */
/* .can__title :hover, */
.can__title span:hover,
.can__more:hover {
  border-bottom: 2px solid var(--color-text);
}

/* Series */
#series {
  background-color: #f4f4f4;
}

#series h3,
#series p {
  color: var(--color-primary);
}
.series {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.serie {
  position: relative;
}

#serie__long {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
}

.serie img {
  width: 100%;
  /* ⭐ 배운것 */
  height: 100%;
  object-fit: cover;
}

.serie__window {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  transition: all 200ms ease-in;
}

/* ⭐ div태그를 img에 absolute 로 크기가 같은 2겹의 창을 만들어서 스타일링 */
.serie__metadata {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-text);
  opacity: 0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 250ms ease-in;
}

.serie__metadata:hover {
  opacity: 0.8;
}

.serie:hover .serie__window .des {
  display: none;
}

.serie__metadata__title {
  margin-bottom: 0.5rem;
}

.serie__metadata__des {
  font-weight: 200;
}

/* Products */
.products {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  grid-template-areas:
    "box1 box2 box3"
    "box1 box5 box3"
    "box4 box5 box6";
}

#product1 {
  grid-area: box1;
}
#product2 {
  grid-area: box2;
}
#product3 {
  grid-area: box3;
}
#product4 {
  grid-area: box4;
}
#product5 {
  grid-area: box5;
}
#product6 {
  grid-area: box6;
}

.product {
  position: relative;
  /* ⭐ */
  overflow: hidden;
}

.product .des {
  position: absolute;
  /* ⭐ */
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* ⭐ */
  z-index: 1;
  transition: background-color 300ms ease-in-out; /* 배경색 전환 */
}

.product img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 300ms ease-in-out;
}

.product:hover img {
  transform: scale(1.1); /* 이미지 확대 */
}

/* About */
#about {
  background: url(/images/about/about_1.jfif);
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  color: var(--color-primary);
}

.about__container {
  padding-bottom: 100px;
}

.about__title {
  font-size: 60px;
}

.about__des {
  margin-bottom: 20px;
  font-weight: bold;
}

.about__btn {
  font-weight: bold;
}
